* {
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    margin: 30px;
}

#header-title {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #000;
    border-radius: 10px;
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

span {
    font-weight: bold;
    font-style: italic;
    color: #ff0000;
    animation: fade 2s ease-in-out infinite;
}

.date {
    background-color: #d3d3d3;
}

.monday {
    background-color: #ff9797;
}

.tuesday {
    background-color: #929fff;
}

.wednesday {
    background-color: #fff281;
}

.thursday {
    background-color: #ffa6f5;
}

.friday {
    background-color: #94ff9d;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.menu:hover {
    background-color: #fff;
    transition: 0.3s;
}

.notes {
    margin-top: 20px;
    font-size: 15px;
    color: #666;
    text-align: center;
}

#smu-link {
    color: #2e40ce;
    text-decoration: none;
    font-weight: bold;
}

#smu-link:hover {
    text-decoration: underline;
    color: #ff4f09;
}
